/*body{
    background-image: url("/assets/images/meditation_background.jpg");
    background-position: center;
    background-repeat: no-repeat;
}*/

#parentOf{
    position:relative;
    width:800px;
}