#total_emission, #years_total_emissions, #Emissions_from_solid_fuel_consumption, #Emissions_from_liquid_fuel_consumption, #Emissions_from_gas_fuel_consumption, #Emissions_from_cement_production, #Emissions_from_gas_flaring{
    width:100%;
}

.charts{
    overflow: hidden;
}
.dcCharts{
    float:left;
}